*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;

  
}
html{
    font-family: "Poppins", sans-serif;
}
.header {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    background-image:url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    min-width: 100vw;
    min-height: 100vh;
    flex-direction: column;
    
}
.icon_burguer{
    width: 24px;
    height: 24px;
    margin: 50px 0px 0% 0px;
    text-align: center;
   position: absolute;
   top: 20px;
   left: 20px;
}


.logo{
    position:absolute;
    width: 50%;
    height: 50%;
   align-items: center; 
   justify-content: space-between; 
   left:20%;
} 
.box1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    height:40vh;
    min-width: 100vw;
    position: absolute;
}

.box2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 20px;
}
.buy__button{
    background-color: #0c474b;
    width: 40vw;
    border-color: rgb(95, 124, 114);
    color:#ffffff;
    margin-top: 40%;
    height: 7vh;
    font-size: 20px;
}
.buy__button:hover{
        background-color: #f0ebe5;
        color:#0c474b;
}
h1{
   text-align: center;
    color: #0c474b; 
    font-size: 30px; 
}
h2 {
    text-align: center;
    color: #0c474b;
    font-size: 22px;
}

p {
    text-align: center;
    color: #0c474b;
    gap: 20px;
 }
.creating{
    width: 50vw;
    height: 50vw;
    display: flex;
}
.module2{
    display:grid;
    place-items: center;
    background-color: #f0eae5;
    padding: 50px;
    font-size: 1.5rem;
    
}
.image__module{
margin-bottom: 40px;
}

.go{
    background-color: #ff975a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    min-height: 50vh;
    

}
.img__go{
    height: 17vh;
    width: 20vw;
    margin: auto;
    display: block;
    
   

}
.h1__go{
    color: #ffffff; 
    font-size: 1.7rem;
    text-align: center;
}
.p__go{
    color: #ffffff;
    font-size: 1rem;
}
.h3__go{
    color: white; 
    text-decoration: underline;
    font-size: 1.5rem;
    text-align: center;
}
.enjoy{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0ebe5;
    height: 60vh;
    gap: 30px;
    font-size: 1.5rem;
    color:  #0c474b;
    
}
.creating{
    height: 30vh;
    max-width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.buy__button2{
    background-color: #0c474b;
    width: 40vw;
    border-color: rgb(95, 124, 114);
    color:#ffffff;
    height: 7vh;
    font-size: 1.5rem;
 
}
.buy__button2:hover{
    background-color: #f0ebe5;
    color:#0c474b;
   
}
.img__creando{
    min-height: 100vh;
    min-height: 100vw;
}
.footer{
    display:grid;
    grid-template-rows: 1fr;
    align-items: center;
    background-color: #0c474b;
    color: #b6c8c9;
    height: 90vh;
    gap:5%; 
    text-align: justify;
    font-size: 1.5rem;
    padding-top: 15%;
    height: 70vh;
}
a{
    text-decoration: none;
}
.list{
    list-style: none;
    color:#bdb9b5;
}
.title_list{
    font-size: 2rem;
    color: #bdb9b5;
    text-decoration: none;
    list-style: none;
}
.list2{
   padding-left: 15%;
    text-decoration: none;
    list-style: none;
    color: white;
}
li{
    text-decoration: none;
    text-align: center;
}
.redes{
  align-items: center;
  display: flex;
  justify-content: center;
}
.flecha{
    height: 50px;
    width:50px;
    place-items: end;
}
.flecha img{
   min-width: 100%;
    min-height: 100%;
}

@media all and (min-width:900px){
    .logo{
    height: 20vh;
    width: 20vw;
    align-items: center;
    gap:30px;
    margin: 0;
  }
 
    .box2{
    width: 60%;
    height: 30vh;
    padding-left: 40px;

   }
   
    .title_module_2{
        grid-column: span 3;
        font-size: 2rem;
        margin: 0, 20%, 0, 20%;
        
    }

   .footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    height: 30vh;
    gap: 10px;
    padding: 0;

    }
  
   .flecha{
    height: 50px;
    width: 50px;
    align-items: flex-end;
    display: grid;
  
   }
   .img__go{
    height: 10vh;
    width: 10vw;
}
    .menu{
    text-align: justify;
    font-size: 1rem;
}


}

@media all and (min-width:1728px) {
.icon_burguer{
    height: 50px;
    width: 20px;
}
.buy__button{
    gap: 100px;
}
.img__go{
    height: 20%;
    width: 20%;
}

.module2{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}
.image__module{
    grid-column: span 2;
    
}

.img__creando{
   
    height: 80%;
    width: 30%;
}
.enjoy{
   
    height: 50%;
    width: 50%;
}
.module4{
    display: flex;
    height: 50vh;
    min-width: 100vh;
   justify-content:center ;
}
}