
*{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  
}
html{
    font-family: "Poppins", sans-serif;
}
.header {
    display: flex;
    margin: 0;
    padding: 0;
    background-image:url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    
}
.icon_burguer{
    width: 90px;
    height: 90px;
    margin: 100px 0px 0% 0px;
}
.img {
    width: 100%;
}
.logo{
    margin: 50px 25px 25px 0;
    width: 600px;
    height: 600px;
    justify-content: center;
    
} 
.caja1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height:40vh;
}
.caja2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 60vh;
    gap: 20px;
   
}
.boton__comprar{
    background-color: #0c474b;
    width: 50vw;
    border-radius: 15px 0 15px 0px;
    border-color: rgb(95, 124, 114);
    color:#bdb9b5;
    margin-top: 40%;
    height: 10vh;
    font-size: 24px;
   
    
 
}
h1{
   text-align: center;
    color: #0c474b; 
    font-size: 60px;
   
   
}
h2 {
    text-align: center;
    color: #0c474b;
}


 p {
    text-align: center;
    color: #0c474b;
 }
.creando{
    width: 100vw;
}
.modulo2{
    display:grid;
    grid-template-columns: 1fr;
    place-items: center;
    background-color: #f0eae5;
    padding: 50px;
    font-size: 1.5rem;
  }
  

.envio{
    background-color: #ff975a;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #f0ebe5; 
    height: 60vh;
    gap:30px;
}
.img__envio{
    height: 30%;
    width: 30%;

}
.h1__envio{
    color: white; 
    font-size: 2rem;
}
.p__envio{
    color: white; 
    font-size: 1.5rem;
}
.h3__envio{
    color: white; 
    text-decoration: underline;
    font-size: 2rem;
}
.disfruta{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f0ebe5;
    height: 80vh;
    gap: 30px;
    font-size: 1.5rem;
    color: #ba509f;
    
}
.creando{
    height: 100vh;
    width: 100vw;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boton__comprar2{
    background-color: #0c474b;
    width: 50vw;
    border-radius: 15px 0 15px 0px;
    border-color: rgb(95, 124, 114);
    color:#bdb9b5;
    height: 10vh;
    font-size: 1.5rem;
 
}
.img__creando{
    height: 100vh;
    width: 100vw;
}
.footer{
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: #0c474b;
    color: #f0ebe5;
    height: 80vh;
    justify-content: space-around;
    text-align: justify;
    font-size: 1.5rem;
  
}
.listado{
    text-decoration: none;
    list-style: none;
    color:#bdb9b5;
}
.titulo_listado{
    font-size: 2rem;
    color: #bdb9b5;
}


@media all and (min-width:900px){
    .h1{
        text-align: left;
        max-width: 50%;
    }
    .titulo_modulo_2{
        grid-column: span 3;
    }
   
}

@media all and (min-width:1728) {
.icon_burguer{
    display: none !important; }
.boton__comprar{
margin: 50%;
}
.img__envio{
    height: 600px;
    width: 600px;
}

.modulo2{
    grid-template-rows: 1fr 1fr 1fr;
}
}