
:root{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
}

header {
min-height: 50vh;
    margin: 0;
    padding: 0;
    background-image:url(./img/header.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    padding: 0%;

       
}

.icon_burguer{
   display: flex;
    width: 24px;
    height: 24px;
}

.logo{
    display: flex;
    width: 213px;
    height: 96px;
    margin: 0 101px 62px 43px;
}

button{
    display: flex;
    background-color: rgb(205, 236, 226);
    width: 100px;
    text-align: center;
    justify-content: center;
    border-radius: 100px 0 100px 0px;
    border-color: rgb(95, 124, 114);
    color: #0c474b;
    border-color: bisque;


}

h1{
   text-align: center;
    color: #0c474b; 
text-align: justify;
}
h2 {
    text-align: center;
    color: #0c474b;

}
 .icon_1{
  display: flex;
  justify-content: center;

 }

 p {
    text-align: center;
    color: #0c474b;
 }


